name: C++ CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout Repository
      uses: actions/checkout@v4

    - name: Compile all .cpp files
      run: g++ main.cpp -o konter -std=c++17 -I. -I/opt/homebrew/opt/curl/include -L/opt/homebrew/opt/curl/lib -lcurl
      
    - name: Run Program (Optional)
      run: ./konter
      continue-on-error: true
