name: C/C++ Build & Test

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Repository
      uses: actions/checkout@v4

    - name: Compile Program
      run: g++ -Wall -Wextra -std=c++17 -o ecommerce main.cpp category.cpp product.cpp

    - name: Run Program (Optional)
      run: ./ecommerce
      continue-on-error: true
