name: C++ CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout Repository
      uses: actions/checkout@v4

    - name: Compile all .cpp files
      working-directory: Konter
      run: g++ main.cpp -o konter -std=c++17 -I. -lcurl

    - name: Run Program (Optional)
      working-directory: Konter
      run: ./konter
      continue-on-error: true
